<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbhowwlRRq3kQEFycLhQAnfR8bbCdyLug</string>
	<key>GCM_SENDER_ID</key>
	<string>675174949882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edubot</string>
	<key>PROJECT_ID</key>
	<string>edubot-9dc23</string>
	<key>STORAGE_BUCKET</key>
	<string>edubot-9dc23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675174949882:ios:c366ee1ed75fe2cda73a43</string>
</dict>
</plist>